#st1 {
    color: rgb(226, 153, 43);
    font-size: 50px;
    position:fixed;
    margin-left: 400px;
    margin-top: 100px;
    /*top: 10px;
    right: 50px;*/
    
}

#st2 {
    color: rgb(92, 84, 84);
    font-size: 40px;
    margin-top: 10px;
    margin-left: 120px;
}

/* applies the element with id "container" */
#container {
    max-width: 10px;
    margin:initial;
    color: rgb(53, 9, 40);
    align-content: space-between;
}

/* applies to all elements with class "green" */
.green {
    color: rgb(8, 8, 8);
    position: initial;
}


body{
    height: 100%;
    padding: 0;
    margin: 0;
}
div{
    width: 50%;
    height: 50%;
    position: fixed;
}

#div1{
    background: #DDD;
    top: 0;
    left: 0;
}
#div2{
    background: rgb(202, 200, 200);
    top: 0;
    left: 50%;
}
#div3{
    background: rgb(151, 151, 151);
    top: 50%;
    left: 0;
}
#div4{
    background: rgb(97, 96, 96);
    top: 50%;
    left: 50%;
}
#div5{
    background: rgb(150, 197, 211);
    top: 25%;
    left: 25%;
}